<div class = "col-md-8 text-center center">
  <%= form_for @location do |f| %>
    <p>
      <%= f.label :address %><br />
      <%= f.text_field :address , class: 'form-control'%>
    </p>

    <p><%= f.submit %></p>
  <% end %>
</div>